.menu {
  font-size: 1.2em;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.activeLink {
  font-weight: bold;
  color: #07c5fa;
}

.inactiveLink {
  font-weight: normal;
  color: greenyellow;
}